<!DOCTYPE html>
<html lang="en-IE">

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>

<body>
  <div class="container is-flex is-flex-direction-column" style="margin-left: 15%; margin-right: 15%; height: 100vh;">
  {{{content}}}
  </div>
</body>
</html>