{{> header }}
<h1 class="title">About This Project</h1>
<p>This project is a web application built practice webdev and to create the dashboard to display realtime status of all printers in the network.</p>
{{> footer }}