{{> header }}

  <section>
    <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center" style="height: 80vh;">
	  <p>No printers added.</p>
      <button class="button is-primary" style="width: 200px;">Add Printer</button>
    </div>
  </section>

{{> footer}}