{{> header }}
<section class="hero">
  <div class="hero-body">
<h1 class="title">Login Page</h1>
<p>Please enter your email or username and password to access your account.</p>
</div>
</section>
{{> login-form }}
{{> footer }}