name: CI Pipeline onMongo

on:
  push:
    branches: [ "onMongo" ]
  pull_request:
    branches: [ "onMongo" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v5

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: "18"

    - name: Install npm dependencies
      run: npm install

    - name: Show a greeting
      run: echo "GitHub Actions onMongo branch"